body {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: antiquewhite;
}

/* ==========================Header========================================== */

body header {
    grid-column-start: 2;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
/*============================== Nav menu =============================================*/
nav {
    justify-content: flex-start;
}

#nav-menu__open {
    background-color: antiquewhite;

}

#nav-menu__open li {
    padding: 5px;
}

#nav-menu__open a {
    transition: margin-left 1s linear;
    text-decoration: none;
    color: black;


}

.nav-menu__closed a {
    margin-left: -200px;

}

#hamburger-icon {
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    margin: 0 auto;
    padding: 0;
}
