:root{
    --mainText: red;
}


body{
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: antiquewhite;
}

body header{
  grid-column-start: 2;
  margin: 0 auto;
  font-size: 24px;
  padding-bottom: 10px;

}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
    height: 800px
}
/* Nav menu */
nav{
    justify-content: flex-start;
    
}

#nav-menu__open{
    background-color: antiquewhite;

}
#nav-menu__open li{
    padding: 5px;
}

#nav-menu__open a{
    transition: margin-left 1s linear;
    text-decoration: none;
    color: black;


}

.nav-menu__closed a{
    margin-left: -200px;

}

#hamburger-icon{
    cursor: pointer;
}

form{
    margin-bottom:30px;
    background-color: white;
    border: 1px solid black;
}
form button{
    width:100%;
}
form legend{
    justify-content: center;
    text-align: center;
}

#title{

}

h1 {
    color: black;
}

ul{
    margin: 0 auto;
    padding: 0;
}

.form-container li{
    list-style-type: none;
    margin: 5px auto;
    background-color: burlywood;

}


/* ------------------------------------------- */
/* This is my section for the home.html */
